[Desktop Entry]
Type=Application
Name=UniFi Protect Viewer
Exec=chromium --kiosk --start-fullscreen --password-store=basic --noerrdialogs --disable-infobar --disable-features=TranslateUI --disable-sync --disable-default-apps --no-first-run --disable-session-crashed-bubble --hide-crash-restore-bubble --disk-cache-size=104857600 --media-cache-size=104857600 --disable-background-timer-throttling --js-flags=--max-old-space-size=2048 https://192.168.3.1/protect/dashboard/all
X-GNOME-Autostart-enabled=true
